body{
    background-color: #0f172ae6;
    font-family: arial;
    color:white;
    /*background-image: url(/assets/bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
